@import url(Gloabal.css);
@import url(/JS/Code.js);
@import url(Nav.css);

/* Add some styling to make the page more visually appealing */
/* .container{
  width: 100vw;
  max-height: 150px;
} */
.coming-soon-section {
 background-color: var(--cl-4--);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px); /* subtract the height of the nav bar */
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon-text {
  color: var(--cl-5--);
  font-size: 60px;
  font-weight: bold;
}