@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Baloo 2", cursive, sans-serif;
  font-weight: 400;
}
body {
  --cl-1--: #555555;
  --cl-2--: #ff3998;
  --cl-3--: #111111;
  --cl-4--: #ff8139;
  --cl-5--: #eeeeee;
  --cl-6--: #ffffff;
  --cl-7--: #ff3939;
  --cl-8--: #4e4e4e;
  margin: 0px;
  background-color: var(--cl-6--);
}

/* darktheme colors */
.dark-theme {
  --cl-1--: #faf8f8;
  --cl-2--: #ff3998;
  --cl-3--: #ffffff;
  --cl-4--: #ff8139;
  --cl-5--: #000000;
  --cl-6--: #20202b;
  --cl-8--: #3a3a3a;

  margin: 0px;
  /* background-color: var(--cl-5--); */
}
/* END darktheme colors */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}

.row {
  display: flex;
}
.column {
  display: grid;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}

/* Navigation Bar  */
header {
  align-items: center;
  gap: 2em;
  padding: 1.5em 0;
  justify-content: space-between;
}

nav ul {
  align-items: center;
  gap: 2em;
}
a.logo {
  max-width: 50px;
}
a.logo img {
  border-radius: 20%;
}

nav a {
  font-size: 20px;
  color: var(--cl-1--);
}
nav li:nth-of-type(4) a {
  color: var(--cl-2--);
}
nav a:hover {
  color: var(--cl-2--);
}

.darkLight {
  background: url(/Graphics/moon-outline.svg);
  background-size: 34px;
  background-position: center;
  border-radius: 20%;
  min-width: 35px;
  max-width: 35px;
  height: 35px;
  /* padding: 3px; */
  cursor: pointer;
}
.darkLight.active {
  background-image: url(/Graphics/sunlight.jpg);
  background-size: 35px;
}

/* End Navigation Bar  */

/* Hero Section Start */
.hero,
.launch {
  align-items: center;
  /* background-image: url(/Graphics/IMGs/3-01.png);
  background-repeat: no-repeat;
  background-position: right; */
  background-size: 500px;
  /* border: 2px solid red; */
  padding: 2em 0;
  min-height: calc(100vh - 88px);
}
.hero {
  border-width: 4px 0px;
  border-style: solid;
  border-color: var(--cl-5--);
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.hero div,
.launch div {
  max-width: 500px;
}
.hero h6,
.launch h6 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--cl-2--);
}
.hero h1 {
  font-weight: 900;
  font-size: clamp(60px, 10vw, 100px);
  /* font-kerning: 1px; */
  color: var(--cl-3--);
}
.hero p,
.launch p {
  font-size: 20px;
  color: var(--cl-1--);
  padding: 1em 0;
}
.hero a,
.launch a {
  font-size: 20px;
  color: var(--cl-3--);
  border: 4px solid var(--cl-4--);
  padding: 0.3em 1em;
  border-radius: 80px;
}
.hero a:hover,
.launch a:hover {
  border-color: var(--cl-7--);
  background-color: var(--cl-3--);
  color: var(--cl-6--);
}
#main-card {
  border-radius: 15px;
  box-shadow: 10px 10px 40px var(--cl-8--);
}
/* Hero Section End */

/* free section start  */
.free {
  position: relative;
  align-items: center;
  background-image: url(/Graphics/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2em auto;
  z-index: 3;
  border-radius: 15px;
}
.free-content {
  padding: 2em;
  z-index: 1;
}
.free-content img {
  max-width: 80px;
  border-radius: 10%;
}
.free-content h3 {
  font-weight: 500;
  font-size: clamp(30px, 5vw, 40px);
  /* font-kerning: 1px; */
  color: var(--cl-3--);
  padding: 1em 0;
}

.free-content p {
  font-size: 20px;
  color: var(--cl-1--);
  /* padding: 1em 0; */
}
.free-cards {
  position: absolute;
  right: 0;
  z-index: 2;
  transform: scale(0.5) translateX(250px) translateY(-200px);
}
.free-cards .card {
  transform: rotate(-5deg);
  /* margin-left: 50px; */
}
.free-cards .card:nth-of-type(2) {
  z-index: -1;
  transform: rotate(5deg) translate(-100px) translateY(50px);
}
.card {
  background-color: var(--cl-5--);
  border-radius: 20px;
  overflow: hidden;
  /* max-width: fit-content; */
}
.card-content {
  padding: 1em;
  gap: 1em;
}

.card-content > * {
  flex-basis: 100%;
}
.card-content h6,
.release-img h6 {
  font-weight: 500;
  font-size: 12px;
  color: var(--cl-4--);
}
.card-right h6 {
  color: var(--cl-1--);
}
.card-content h5,
.release-img h5 {
  font-weight: 500;
  font-size: 20px;
  padding: 0.5em 0;
  color: var(--cl-3--);
}
.card-content p,
.release-img .card-left p {
  font-size: 18px;
  color: var(--cl-1--);
}
.card-right .row {
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 0;
}
.card-content img {
  max-width: 15px;
}

/* free section end */

/* Logos Start */
.logos {
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  padding: 2em 0;
}
.logo > * {
  flex: 1 1 5em;
}
.logos .h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-size: clamp(20px, 5vw, 55px);
  color: var(--cl-3--);
  margin-bottom: 5px; /* you can change this color as per your requirement */
}
.logos p {
  font-size: 18px;
  color: var(--cl-1--);
  padding: 0.25em 0;
  text-align: center;
}

.socials {
  overflow-x: scroll;
  overflow-y: hidden;
}
.socials a {
  margin: 0 1em;
}
.logos a img {
  max-width: 10vw;
  max-height: 10vw;
  min-width: 10vw;
  min-height: 10vw;
  border-radius: 15%;
 object-fit: cover;
 box-shadow: 1px 1px 5px var(--cl-8--);
 object-position: center;

}
/* Logos End */

/* Sneak paeaks start  */
.sp-sec {
  text-align: center;
  padding: 50px 0px;
}
.sp-sec h1 {
  font-weight: 600;
  font-size: clamp(20px, 5vw, 55px);
  color: var(--cl-3--);
  margin-bottom: 5px; /* you can change this color as per your requirement */
}
.img-tokry {
  width: 70vw;
  /* flex-wrap: wrap;
   flex-direction: row; */
  padding: 2em 0;
  margin: 0 auto;
  gap: 2em;
  overflow-x: scroll;
  justify-content: space-between;
}
.nft-img {
  min-width: 150px;
  min-height: 350px;
  max-width: 300px;
  max-height: 500px;
  object-fit: fill;
  border: 2px solid var(--cl-1--);
  box-shadow: 5px 5px 20px var(--cl-8--);
  border-radius: 15%;
  /* margin: 16px; */
}
/* .nft-img:hover {
 transform: scale(1.3) ;
  border-color: var(--cl-2--);
  box-shadow: none;
  margin: 20px;
  transition: 0.3s ease-in-out;
} */
.imgs {
  /* filter: blur(1px); */
  margin-bottom: 10px;
  transition: 0s all !important;
}
/* Sneak paeaks End */

/* Team section  */
.about-team {
  padding: 50px 0;
  text-align: center;
  border-radius: 10%;
}

.about-team h2 {
  font-weight: 500;
  font-size: clamp(30px, 5vw, 40px);
  color: var(--cl-3--);
  margin-bottom: 40px; /* you can change this color as per your requirement */
}

.team-member-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  /* max-width: 90%; */
  background-color: var(
    --cl-3--
  ); /* you can change this color as per your requirement */
  padding: 20px;
  border-radius: 30px;
  /* flex-wrap: wrap; added */
}

.team-pfp {
  /* object-fit: cover;
 overflow: hidden; */
  /* border: 1px solid var(--cl-4--); */
  /* margin-right: 30px; */
  margin: 20px;
}
.team-pfp img {
  min-width: 300px;
  min-height: 300px;
  max-height: 600px;
  border-radius: 10%;
  box-shadow: 10px 10px 40px var(--cl-8--);
}

.member-info {
  margin: 30px;
  text-align: left;
  color: var(--cl-5--); /* you can change this color as per your requirement */
}

.member-info h3 {
  font-weight: 700;
  font-size: clamp(20px, 5vw, 30px);
  color: var(--cl-5--);
  /*  you can change this color as per your requirement */
}
.team-links a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: var(--cl-4--);
  font-size: 20px;
  margin-top: 10px;
}

/* Team section END */

/* release */
.release {
  padding: 2em 0;
  gap: 2em;
}
.release-card {
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
  padding-top: 2em;
  background-image: url(/Graphics/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.release-card > * {
  flex: 1 1 15em;
}
.release-content {
  padding: 2em;
}
.release-content h4 {
  font-weight: 500;
  font-size: clamp(30px, 5vw, 40px);
  color: var(--cl-3--);
}
.release-content p {
  font-size: 18px;
  color: var(--cl-1--);
  padding: 1em 0;
}
.release-content a {
  align-items: center;
  gap: 0.5em;
  font-weight: 500;
  font-size: 20px;
  color: var(--cl-3--);
  fill: var(--cl-3--);
}
.release-content a:hover {
  color: var(--cl-6--);
  fill: var(--cl-6--);
}
.release-img {
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.release-img img {
  /* max-width: 60%; */
  border-radius: 7%;
  padding: 1em;
}
.release-img .card-left {
  padding: 1em;
}
#release-img1 {
  padding-bottom: 20px;
  padding-right: 20px;
}
#release-container1 {
  flex-direction: row;
  flex-wrap: wrap;
}
.release-img .card-left h6 {
  color: var(--cl-5--);
}
.release-img .card-left h5 {
  color: var(--cl-3--);
}
.release-card:nth-of-type(1) {
  flex-wrap: wrap;
}
.release-card:nth-of-type(2) {
  background-image: url(/Graphics/bg2-01.svg);
  padding: 2em;
}
.release-c {
  align-items: center;
  justify-content: center;
}
.check-arrow {
  max-width: 35px;
  max-height: 30px;
}
/* release End */

/* cards */
.main-card {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  padding: 2em 0;
}
.c-card {
  background: var(--cl-5--);
  padding: 2em;
  border-radius: 15px;
}
.c-card img {
  min-width: 70px;
  min-height: 70px;
  max-width: 150px;
  max-height: 150px;
  object-fit: fill;
  border-radius: 15px;
  box-shadow: 1px 1px 10px var(--cl-8--);
}
#c-card1 {
  object-fit: fill;
}
.c-card h1 {
  font-weight: 500;
  font-size: clamp(30px, 5vw, 40px);
  padding: 1em 0;
  color: var(--cl-3--);
}
.c-card p {
  font-size: 15px;
  color: var(--cl-1--);
}
/* cards End */

/* .launch */
.launch {
  /* background-image: url(/Graphics/bg2-01.svg);
  background-position: center;
  background-size: cover; */
  border-width: 4px 0px;
  border-style: solid;
  border-color: var(--cl-5--);
  display: flexbox;
  flex-wrap: wrap;
  border-color: var(--cl-1--);
  margin: 2em;
}
.launch h1 {
  font-weight: 900;
  font-size: clamp(50px, 10vw, 60px);
  color: var(--cl-3--);
}
#main-card2 {
  border-radius: 15px;
  box-shadow: 10px 10px 40px var(--cl-8--);
}
/* .launch End */

/* footer */
footer {
  padding: 2em;
}
.footer {
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em 0;
}
.footer > * {
  flex: 1 1 25em;
}

.footer-content p {
  font-size: 20px;
  padding: 1em 0;
  color: var(--cl-1--);
}
.social-links {
  align-items: center;
  gap: 2em;
}
.social-links a {
  fill: var(--cl-1--);
}
.social-links a svg {
  min-width: 20px;
  max-width: 30px;
  min-height: 20px;
  max-height: 30px;
}
.social-links a:hover {
  fill: var(--cl-2--);
}
.footer-links {
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}
.footer-links > * {
  font-weight: 700;
  columns: var(--cl-1--);
  font-size: clamp(20px, 5vw, 25px);
  padding-bottom: 1em;
}
.footer-links h3 {
  color: var(--cl-3--);
}

/* .footer-links li a {
  padding: 1em;

} */
.footer-links a {
  font-size: 16px;
  color: var(--cl-1--);
}
.footer-links a:hover {
  font-size: 18px;
  color: var(--cl-2--);
}

.copy-right {
  text-align: center;
  font-size: 12px;
  color: var(--cl-1--);
  padding: 1em 0;
}

/* footer End */

/* media querries */

@media screen and (max-width: 1110px) {
  .hero {
    display: grid;
  }
  #hero-text {
    padding-top: 40px;
  }
  #launch-text {
    padding: 50px;
  }
  .free-cards {
    position: absolute;
    right: 0;
    z-index: 2;
    transform: scale(0.3) translateX(250px) translateY(-200px);
  }
}

@media screen and (max-width: 800px) {
  .toggleMenu {
    position: absolute;
    right: 5%;
    background-image: url(/Graphics/menu-outline-white-tile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    width: 30px;
    height: 30px;
    padding: 1.4em;
    z-index: 1000;
    transition: background-size 0.3s ease-in-out;
    border-radius: 15%;
  }

  .toggleMenu.active {
    position: fixed;
    background-image: url(/Graphics/close-outline-white-tile.png);
    background-size: 50px;
  }
  .navigation {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 0;
    opacity: 0;
    transform-origin: top;
    transform: scale(0);
  }
  .navigation.active {
    position: fixed;
    inset: 0;
    margin: auto;
    max-height: 100%;
    opacity: 1;
    background-color: var(--cl-6--);
    transform: scale(1);
    z-index: 999;
  }
  nav ul {
    flex-direction: column;
  }
  .hero,
  .launch {
    background-position: bottom left;
    background-size: cover;
  }
  #hero-text {
    padding: 20px;
  }
  .hero h1,
  .launch h1 {
    font-size: 40px;
  }
  .free-cards {
    transform: scale(0.4) translateX(350px) translateY(-350px);
  }
  .release-card {
    padding: 1em !important;
  }
  .release-img {
    justify-content: center;
  }
  .release-img .card-left {
    display: none;
  }
  .release-content {
    padding: unset;
  }
  .release-content p {
    font-size: 10px;
  }
  .auction p {
    font-size: 10px;
  }
  .card-content {
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .release-img img {
    padding: 4px;
  }
  #release-img1 {
    padding-bottom: 0;
    padding-right: 0;
  }
  .card-img img {
    object-fit: cover;
  }
  .release-c p {
    font-size: 10px;
  }
  .release-c h5 {
    font-size: 12px;
  }
  .c-card p {
    font-size: 10px;
  }
  #launch-text {
    padding: 10px;
  }
  .launch {
    margin: 10px;
  }
  .launch h1 .launch p {
    font-size: 10px;
  }
  .footer p {
    font-size: 10px;
  }
  .main-card {
    flex-direction: column;
  }
  .card {
    max-width: 50vw;
  }
  .main-card img {
    max-width: 20px;
  }
  .footer-links li {
    font-size: 15px;
  }
  footer {
    padding: 0px;
  }

  .team-member-card {
    flex-direction: column;
  }
  .team-pfp img {
    min-width: 100px;
    min-height: 100px;
    max-height: 600px;
    border-radius: 10%;
    box-shadow: 10px 10px 40px var(--cl-8--);
  }

   /* logos section start  */
   .logos p {
    font-size: medium;
  }
  .socials a {
    margin: 0 0.8em;
  }
  .logos a img {
    max-width: 12vw;
  max-height: 12vw;
  min-width: 12vw;
  min-height: 12vw;
  }
  /* logos section End */
}

@media screen and (max-width: 400px) {
  .hero a,
  .launch a {
    font-size: small;
  }
  .hero p,
  .launch p {
    font-size: smaller;
  }
  .hero h1,
  .launch h1 {
    font-size: larger;
  }
  .hero h6,
  .launch h6 {
    font-size: medium;
  }
  .release-c .card {
    max-width: 75vw;
  }

  .team-member-card {
    padding: 5px;
    margin: 5px;
  }
  .team-pfp {
    padding: 5px;
    margin: 5px;
  }
  .team-pfp img {
    box-shadow: 5px 5px 20px var(--cl-8--);
  }
  .member-info {
    padding: 10px;
    margin: 10px;
  }

  /* Sneak-peaks section start  */

  .img-tokry {
    width: 80vw;
    padding: 1em 0;
    margin: 0 auto;
    gap: 1em;
  }
  .nft-img {
    min-width: 50px;
    min-height: 150px;
    max-width: 120px;
    max-height: 200px;
    border: 1px solid var(--cl-1--);
    box-shadow: 3px 3px 10px var(--cl-8--);
    border-radius: 11%;
  }
  /* Sneak-peaks section End */

  /* logos section start  */
  .logos p {
    font-size: smaller;
  }
  .socials a {
    margin: 0 0.5em;
  }
  .logos a img {
     max-width: 18vw;
  max-height: 18vw;
  min-width: 18vw;
  min-height: 18vw;
  }
  /* logos section End */
}

@media (prefers-colors-scheme: dark) {
  body {
    --cl-1--: #faf8f8;
    --cl-2--: #ff3998;
    --cl-3--: #ffffff;
    --cl-4--: #ff8139;
    --cl-5--: #000000;
    --cl-6--: #111111;
    --cl-8--: #3a3a3a;
  }
  .release-content p {
    color: var(--cl-1--);
    text-shadow: 2px 2px 20px rgb(156, 156, 156);
  }
  .hero,
  .launch {
    border-width: 4px 0px;
    border-style: solid;
    border-color: var(--cl-6--);
  }
}
/* media querries End */
